
/*--------------------------------------------------------------
 Header Styles
--------------------------------------------------------------*/

#header {
    background-color: red;
    max-height: 70px;
    display: flex;
}